@model Trakt.Models.ActeurDetailsViewModel
@{
   ViewBag.Title = Model.Acteur.Naam + " - Acteur";
}

<h2>@Model.Acteur.Naam</h2>

<div class="row">
   <div class="col-md-4" style="padding-right:20px; border-right: solid 1px">
      @{
         var source = "";

         if (Model.Acteur.ImagePath == null)
         {
            source = "/Content/Images/no_image.png";
         }
         else
         {
            if (Model.Acteur.ImagePath.StartsWith("http"))
            {
               source = Model.Acteur.ImagePath;
            }
            else
            {
               source = "https://image.tmdb.org/t/p/w300/" + Model.Acteur.ImagePath;
            }
         }
      }
      <img src="@source" class="image" alt="@Model.Acteur.Naam" style="width:100%" />
   </div>
   <div class="col-md-8">
      <p><strong>Omschrijving</strong></p>
      <p>@Model.Omschrijving</p>
      <br />
      <p>Geboren te @Model.Geboorteplaats</p>
      <br />
      @if (Model.Geboortedatum.HasValue)
      {
         <p class="col-sm-6" style="text-align:center"><strong>&deg; @Model.Geboortedatum.Value.ToShortDateString()</strong></p>
      }
      @if (Model.Sterftedatum.HasValue)
      {
         <p class="col-sm-6" style="text-align:center"><strong>&dagger; @Model.Sterftedatum.Value.ToShortDateString()</strong></p>
      }
   </div>
</div>


@if (Model.Films.Count != 0)
{
   <div class="testimonial-group">
      <h2>Films van deze acteur</h2>
      <div class="row">
         @foreach (var film in Model.Films.OrderByDescending(f => f.ReleaseDate))
         {
            <div class="col-md-3 col-sm-6 col-xs-12 poster">
               @{
                  var url = Url.Action("DetailsAndere", "Films", new { id = film.ID });
                  if (film.Duur != -1)
                  {
                     url = Url.Action("Details", "Films", new { id = film.ID });
                  }
               }
               <a href="@url" title="@film.Naam">
                  @{

                     source = "https://image.tmdb.org/t/p/w300/";
                     if (film.PosterPath == null)
                     {
                        source = "/Content/Images/no_image.png";
                     }
                     else
                     {
                        source += film.PosterPath;
                     }
                  }
                  <img src="@source" class="image" onerror="this.src='/Content/Images/no_image.png'" alt="@film.Naam" style="max-width:100%; height:400px" />
                  <div class="overlayPoster">
                     <div class="posterOverlayContent">
                     <i class="glyphicon glyphicon-calendar"></i>
                     @film.ReleaseDate</div>
                  </div>
               </a>
            </div>
         }
      </div>
   </div>
}

@if (Model.Series.Count != 0)
{
   <div class="testimonial-group">
      <h2>Series van deze acteur</h2>
      <div class="row">
         @foreach (var serie in Model.Series)
         {
            <div class="col-md-3 col-sm-6 col-xs-12 poster">
               @{
                  var url = Url.Action("Details", "Series", new { id = serie.ID });
                  if (serie.Netwerk.Equals("-1"))
                  {
                     url = Url.Action("DetailsAndere", "Series", new { id = serie.ID });
                  }
                  else if (serie.Netwerk.Equals("-2"))
                  {
                       url = "javascript:void(0)";
                  }
               }
               <a href="@url" title="@serie.Naam">
                  @{

                     source = "https://image.tmdb.org/t/p/w300/";
                     if (serie.PosterPath == null)
                     {
                        source = "/Content/Images/no_image.png";
                     }
                     else
                     {
                        source += serie.PosterPath;
                     }
                  }
                  <img src="@source" class="image" onerror="this.src='/Content/Images/no_image.png'" alt="@serie.Naam" style="max-width:100%; height:400px" />
                  <div class="overlayPoster">
                     <div class="posterOverlayContent">@serie.Naam</div>
                  </div>
               </a>
            </div>
         }
      </div>
   </div>
}
