@model Trakt.Models.ActeurViewModel

@{
   ViewBag.Title = "Acteurs";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "Acteurs", FormMethod.Post, new { id = "sorterenForm" }))
{
   <div class="row">
      <div class="col-md-3 col-sm-3">
         @Html.LabelFor(model => model.Sorteren, "Sorteren Op")
         @Html.EnumDropDownListFor(model => model.Sorteren, null, new { /*@onchange = "javascript:document.getElementById('sorterenForm').submit()",*/ @class = "form-control" })
      </div>
      <div class="col-md-3 col-sm-3">
         @Html.LabelFor(model => model.FilterOp, "Filter Op")
         @Html.EnumDropDownListFor(model => model.FilterOp, null, new { /*@onchange = "javascript:document.getElementById('sorterenForm').submit()",*/ @class = "form-control" })
      </div>
      <div class="col-md-3 col-sm-3">
         @Html.LabelFor(model => model.Filter)
         @Html.TextBoxFor(model => model.Filter, new { /*@onblur = "javascript:document.getElementById('sorterenForm').submit()",*/ @placeholder = "Filter", @class = "form-control" })
      </div>
      <div class="col-md-2 col-sm-3" style="float:right">
         @Html.LabelFor(model => model.MaxFilms, "Resultaten")
         @Html.EnumDropDownListFor(model => model.MaxFilms, null, new { @class = "form-control" })
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <button type="submit" class="btn btn-success btnzoeken" style="width:100%">Zoeken</button>
      </div>
   </div>
}

<div class="row">
   @foreach (var acteur in Model.Acteurs)
   {

      var source = "";
      var posterClass = "poster";
      var overlayClass = "overlayPoster";

      if (acteur.ImagePath == null)
      {
         source = "/Content/Images/no_image.png";
         posterClass += " posterhovered";
         overlayClass += " overlayhovered";
      }
      else
      {
         if (acteur.ImagePath.StartsWith("http"))
         {
            source = acteur.ImagePath;
         }
         else
         {
            source = "https://image.tmdb.org/t/p/w300/" + acteur.ImagePath;
         }
      }

      <div class="col-lg-3 col-md-4 col-md-offset-0 col-sm-5 col-sm-offset-1 @posterClass">
         <a href="@Url.Action("Details", "Acteurs", new { id = acteur.ID })" title="@acteur.Naam">
            <img src="@source" class="image" alt="@acteur.Naam" style="max-width:100%; height:400px" />
            <div class="@overlayClass">
               <div class="posterOverlayContent">
                  @acteur.Naam


                  @if (Model.Sorteren != Trakt.Models.ActeurSorterenOp.Naam)
                  {
                     <br />
                     switch (Model.Sorteren)
                     {
                        case Trakt.Models.ActeurSorterenOp.Aantal_Vermeldingen:
                        case Trakt.Models.ActeurSorterenOp.Aantal_Vermeldingen_Desc:
                           var vermeldingen = acteur.Films.Count + acteur.Series.Count;

                           <text>@vermeldingen Vermeldingen</text>
                           break;
                     }
                  }

               </div>
            </div>
         </a>
      </div>
   }
</div>