@model Trakt.Models.FilmDetailsViewModel
@using BL
@using Microsoft.AspNet.Identity

@{
   ViewBag.Title = Model.Film.Naam + " - Film";
   var mng = new GebruikerManager();
   var gebruiker = mng.GetGebruiker(int.Parse(User.Identity.GetUserId()));
}

<div>
   <h1 class="col-xs-8" style="margin:0; padding:0">@Model.Film.Naam</h1>
   @if (Model.Film.ID != -1)
   {
      if (gebruiker.IsAdmin)
      {
         using (Html.BeginForm("VerwijderFilm", "Films", FormMethod.Post))
         {
            @Html.HiddenFor(model => Model.Film.ID)
            <button type="submit" class="btn btn-danger col-xs-4">Verwijder</button>
         }
      }

      if (ViewBag.Archieven.Count > 0)
      {
         <button class="btn btn-success col-xs-4" disabled>Staat op archief: @string.Join(", ", ViewBag.Archieven)</button>
      }
      else
      {
         <button class="btn btn-danger col-xs-4" disabled>Nog niet op archief</button>
      }
   }
   else
   {
      if (ViewBag.Aangevraagd == true)
      {
         <button class="btn btn-success col-xs-4" disabled>Film aangevraagd</button>
      }
      else
      {
         <button class="btn btn-info col-xs-4" onclick="vraagFilmAan(@ViewBag.FilmID, this)">Film aanvragen</button>
      }
   }
   <h3 class="col-xs-12">@Model.Film.Tagline</h3>
</div>
<div class="row">
</div>

<div class="row">
   <div class="col-md-4" style="padding-right: 20px;">
      @{
         var source = "https://image.tmdb.org/t/p/w300/";
         if (Model.Film.PosterPath == null)
         {
            source = "/Content/Images/no_image.png";
         }
         else
         {
            source += Model.Film.PosterPath;
         }
      }
      <img src="@source" class="image" alt="@Model.Film.Naam" style="width:100%;" />
   </div>
   <div class="col-md-8" style="padding-left: 20px;border-left:solid 1px">
      <p><strong>Omschrijving</strong></p>
      <p>@Model.Film.Omschrijving</p>
      @if (Model.Film.CollectieID != 0)
      {
         <br />
         <div class="row">
            @{
               source = "https://image.tmdb.org/t/p/w300" + Model.Film.Collectie.PosterPath;
            }
            <a href="@Url.Action("Details", "Collecties", new { id = Model.Film.CollectieID })">
               <div class="col-md-6" style="height: 175px;background-image: url('@source');background-size: cover;border-radius: 15px;margin: 5px;">
                  <div style="background-color: rgba(0,0,0,.6);color: white;position: absolute;height: 100%;width: 100%;left: 0;border-radius: 15px;padding: 25px;">
                     <h4 style="font-size: x-large;">
                        @Model.Film.Collectie.Naam
                     </h4>
                     @if (Model.Film.Collectie.Films != null)
                     {
                        if (Model.Film.Collectie.Films.Count > 0)
                        {
                           <p>Bevat @Model.Film.Collectie.ContainsFilms()</p>
                        }
                     }
                  </div>
               </div>
            </a>
            <div class="col-md-5">
               @if (Model.Film.Tags != null)
               {
                  if (Model.Film.Tags.Count > 0)
                  {
                     <h3>Tags</h3>
                     foreach (var tag in Model.Film.Tags.OrderByDescending(t => t.Films.Count))
                     {
                        <h4><a href="@Url.Action("Tag", "Films", new { id = tag.ID })">@tag.Naam</a></h4>
                     }
                  }
               }
            </div>
         </div>
      }
      <br />
      <p class="col-sm-6" style="text-align:center"><strong>@Model.Film.ReleaseDate</strong></p>
      <p class="col-sm-6" style="text-align:center"><strong>@Model.Film.Duur Min.</strong></p>
      @if (Model.Film.TrailerId != null)
      {
         <h4 style="text-align:center"><strong>Trailer</strong></h4>
         <div class="row" style="text-align:center">
            <iframe style="max-width:100%" width="420" height="315" onerror="this.innerHTML='<h4>Er ging iets mis tijdens het laden van de trailer</h4>'" allowfullscreen="allowfullscreen"
                    mozallowfullscreen="mozallowfullscreen"
                    msallowfullscreen="msallowfullscreen"
                    oallowfullscreen="oallowfullscreen"
                    webkitallowfullscreen="webkitallowfullscreen"
                    src="https://www.youtube.com/embed/@Model.Film.TrailerId"></iframe>
         </div>
      }
      else
      {
         <h4><strong>Geen trailer gevonden</strong></h4>
      }
   </div>
</div>
<hr />
<div class="testimonial-group">
   <h2>Acteurs</h2>
   <div class="row">
      @{
         Model.Film.Acteurs.Sort((a1, a2) => a1.Sort.CompareTo(a2.Sort));
      }
      @foreach (var acteur in Model.Film.Acteurs)
      {
         <div class="col-md-3 col-sm-6 col-xs-12 poster">
            @{
               var url = Url.Action("DetailsAndere", "Acteurs", new { id = acteur.ActeurID });
               if (Model.IsActeurInDb(acteur.ActeurID))
               {
                  url = Url.Action("Details", "Acteurs", new { id = acteur.ActeurID });
               }
            }
            <a href="@url" title="@acteur.Acteur.Naam">
               @{
                  var actSrc = "";
                  var posterClass = "poster";
                  var overlayClass = "overlayPoster";

                  if (acteur.Acteur.ImagePath == null)
                  {
                     actSrc = "/Content/Images/no_image.png";
                     posterClass += " posterhovered";
                     overlayClass += " overlayhovered";
                  }
                  else
                  {
                     if (acteur.Acteur.ImagePath.StartsWith("http"))
                     {
                        actSrc = acteur.Acteur.ImagePath;
                     }
                     else
                     {
                        actSrc = "https://image.tmdb.org/t/p/w300/" + acteur.Acteur.ImagePath;
                     }
                  }
               }
               <img src="@actSrc" class="image" onerror="this.src='/Content/Images/no_image.png'" alt="@acteur.Acteur.Naam" style="max-width:100%; height:400px" />
               <div class="overlayPoster">
                  <div class="posterOverlayContent">@acteur.Acteur.Naam<br />@acteur.Karakter</div>
               </div>
            </a>
         </div>
      }
   </div>
</div>
<hr />
<div class="testimonial-group">
   <h2>Gelijkaardige Films</h2>
   <div class="row">
      @foreach (var film in Model.GelijkaardigeFilms)
      {
         <div class="col-md-3 col-sm-6 col-xs-12 poster">
            @{
               var url = Url.Action("DetailsAndere", "Films", new { id = film.ID });
               if (film.Duur != -1)
               {
                  url = Url.Action("Details", "Films", new { id = film.ID });
               }
            }
            <a href="@url" title="@film.Naam">
               @{
                  source = "https://image.tmdb.org/t/p/w300/";
                  if (film.PosterPath == null)
                  {
                     source = "/Content/Images/no_image.png";
                  }
                  else
                  {
                     source += film.PosterPath;
                  }
               }
               <img src="@source" class="image" alt="@film.Naam" style="max-width:100%; height:400px" />
               <div class="overlayPoster">
                  <div class="posterOverlayContent">@film.Naam<br />@film.ReleaseDate</div>
               </div>
            </a>
         </div>
      }
   </div>
</div>

<script>
   function vraagFilmAan(film, elem) {
      $.ajax("/api/Films/GetFilmAanvraag/" + film, {
         type: 'GET',
         dataType: "json"
      }).done(function () {
         elem.outerHTML = '<button class="btn btn-success col-xs-4" disabled>Film aangevraagd</button>';
      });
   }
</script>
