@model Trakt.Models.CollectieDetailsViewModel

@{
   ViewBag.Title = Model.Collectie.Naam;
}

<h2>@ViewBag.Title</h2>
<h4>@Model.Films.Count Films</h4>
<hr />
<div class="row">
   <div class="col-md-4" style="padding-right: 20px;border-right:solid 1px">
      @{
         var source = "https://image.tmdb.org/t/p/w300/";
         if (Model.Collectie.PosterPath == null)
         {
            source = "/Content/Images/no_image.png";
         }
         else
         {
            source += Model.Collectie.PosterPath;
         }
      }
      <img src="@source" class="image" onerror="this.src='/Content/Images/no_image.png'" alt="@Model.Collectie.Naam" style="width:100%;" />
   </div>
   <div class="col-md-8" style="padding-left: 20px;">
      <h1>Films</h1>
      @{
         Model.Films.Sort((a1, a2) => a1.ReleaseDate.CompareTo(a2.ReleaseDate));
      }
      @foreach (var film in Model.Films)
      {
         <div class="col-sm-4 col-xs-6 poster">
            @{
               var url = Url.Action("DetailsAndere", "Films", new { id = film.ID });

               if (film.Duur != -1)
               {
                  url = Url.Action("Details", "Films", new { id = film.ID });
               }
            }
            <a href="@url" title="@film.Naam">
               @{
                  var src = "https://image.tmdb.org/t/p/w300/";
                  if (film.PosterPath == null)
                  {
                     src = "/Content/Images/no_image.png";
                  }
                  else
                  {
                     src += film.PosterPath;
                  }
               }
               <img src="@src" class="image" onerror="this.src='/Content/Images/no_image.png'" alt="@film.Naam" style="max-width:100%; height:350px" />
               <div class="overlayPoster">
                  <div class="posterOverlayContent">
                     <i class="glyphicon glyphicon-calendar"></i>
                     @{
                        DateTime result;
                        if (DateTime.TryParse(film.ReleaseDate, out result))
                        {
                           <span>@result.ToString("dd/MM/yyyy")</span>
                        }
                        else
                        {
                           <span>\--/</span>;
                        }
                     }
                  </div>
               </div>
            </a>
         </div>
      }
   </div>
</div>
