@model BL.Domain.Collectie

@{
    ViewBag.Title = Model.Naam;
}

<h2>@ViewBag.Title</h2>
<h4>@Model.Films.Count Film(s)</h4>
<hr />
<div class="row">
   <div class="col-md-4" style="padding-right: 20px;border-right:solid 1px">
      @{
         var source = "https://image.tmdb.org/t/p/w300/";
         if (Model.PosterPath == null)
         {
            source = "/Content/Images/no_image.png";
         }
         else
         {
            source += Model.PosterPath;
         }
      }
      <img src="@source" class="image" alt="@Model.Naam" style="width:100%;" />
   </div>
   <div class="col-md-8" style="padding-left: 20px;">
      <h1>Film(s)</h1>
      @{
         Model.Films.Sort((a1, a2) => a1.ReleaseDate.CompareTo(a2.ReleaseDate));
      }
      @foreach (var film in Model.Films)
      {
         <div class="col-sm-4 col-xs-6 poster">
            <a href="@Url.Action("Details", "Films", new { id = film.ID })" title="@film.Naam">
               @{
                   var src = "https://image.tmdb.org/t/p/w300/";
                   if (film.PosterPath == null)
                   {
                      src = "/Content/Images/no_image.png";
                   }
                   else
                   {
                      src += film.PosterPath;
                   }
               }
               <img src="@src" class="image" alt="@film.Naam" style="max-width:100%; height:350px" />
               <div class="overlayPoster">
                  <div class="posterOverlayContent">@film.Naam</div>
               </div>
            </a>
         </div>
      }
   </div>
</div>