@model Trakt.Models.AdminViewModel

<h2>Aanvragen</h2>

<ul class="list-group">
   @foreach (var aanvraag in Model.Aanvragen)
   {
      <li class="list-group-item" style="height:70px;">
         <p style="float:left;">@aanvraag.Value.Naam (@aanvraag.Value.ReleaseDate)<br />Door @aanvraag.Key.AangevraagdDoor.UserName Op @aanvraag.Key.AangevraagOp.Value.ToShortDateString()</p>
         <button class="btn btn-danger" style="margin-left:10%" onclick="deleteAanvraag(@aanvraag.Key.FilmId, this.parentNode)">Verwijderen</button>
      </li>
   }
</ul>

<script>
   function deleteAanvraag(id, elem)
   {
      $.ajax("api/Admin/AanvraagVerwijderen/" + id, {
         type: 'GET',
         dataType: 'json'
      }).done(function(data) {
         elem.outerHTML = "";
      });
   }
</script>
