@model Trakt.Models.AdminViewModel

<h2>Aanvragen</h2>

<ul class="list-group">
   @foreach (var aanvraag in Model.Aanvragen)
   {
      <li class="list-group-item">
         <div class="col-sm-8 padding0">
            <p>@aanvraag.Value.Naam (@aanvraag.Value.ReleaseDate)</p>
            <p>Door @aanvraag.Key.AangevraagdDoor.UserName Op @aanvraag.Key.AangevraagOp.Value.ToShortDateString()</p>   
         </div>
            
         <div class="col-sm-4 padding0">
            <button class="btn btn-danger" onclick="deleteAanvraag(@aanvraag.Key.FilmId, this.parentNode.parentNode)">Verwijderen</button>
         </div>
      </li>
   }
</ul>

<script>
   function deleteAanvraag(id, elem)
   {
      $.ajax("api/Admin/AanvraagVerwijderen/" + id, {
         type: 'GET',
         dataType: 'json'
      }).done(function(data) {
         elem.outerHTML = "";
      });
   }
</script>
