@model Trakt.Models.AdminViewModel
@using Microsoft.AspNet.Identity

<h2>Gebruikers</h2>

<div class="col-md-12">
   @if (Model.Gebruikers.Count > 0)
   {
      <ul class="list-group" id="gebruikerList">
         @foreach (var gebruiker in Model.Gebruikers.Where(g => g.IsAdmin == false))
         {
            <li class="list-group-item" style="height:55px" id="@gebruiker.ID" @*onclick="setActive(this);"*@>
               <p class="col-lg-2 visible-lg">@gebruiker.Voornaam @gebruiker.Achternaam</p>
               <p class="col-lg-3 col-xs-6">@gebruiker.Email</p>
               <p class="col-lg-3 visible-lg">@gebruiker.Adres, @gebruiker.Postcode @gebruiker.Gemeente.Plaatsnaam</p>
               @using (Html.BeginForm("VerwijderGebruiker", "Admin", FormMethod.Post, new { @style = "float:right; margin-left:15px" }))
               {
                  <button type="submit" value="@gebruiker.ID" class="btn btn-danger" name="id">Verwijder Gebruiker</button>
               }
               @using (Html.BeginForm("ChangeGebruikerState", "Admin", FormMethod.Post, new { @style = "float:right" }))
               {
                  if (gebruiker.EmailConfirmed)
                  {
                     <button type="submit" value="@gebruiker.ID" class="btn btn-danger" name="id">Deactiveer Gebruiker</button>
                  }
                  else
                  {
                     <button type="submit" value="@gebruiker.ID" class="btn btn-success" name="id">Activeer Gebruiker</button>
                  }
               }
            </li>
         }
      </ul>
   }
   else
   {
      <p>Momenteel geen nieuwe gebruikers</p>
   }
</div>

@*<script>
      function setActive(element) {
         var list = document.getElementById("gebruikerList");
         list = list.getElementsByClassName("list-group-item");

         for (var i = 0; i < list.length; i++) {
            list[i].className = list[i].className.replace(" active", "");
         }

         element.className = element.className + " active";
      }
   </script>*@
<style>
   .list-group-item p {
      color: black;
   }
</style>