@using Microsoft.AspNet.Identity
@using BL
@if (Request.IsAuthenticated)
{
   using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
   {
      @Html.AntiForgeryToken()
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>

            <ul class="dropdown-menu">
               <li><a href="@Url.Action("Index", "Profiel")">Profiel</a></li>
               <li><a href="@Url.Action("Index", "Archieven")">Mijn Archieven</a></li>
               <li role="separator" class="divider"></li>

               @if (User.Identity.IsAuthenticated)
               {
                  var mng = new GebruikerManager();
                  var isAdmin = mng.GetGebruiker(int.Parse(User.Identity.GetUserId())).IsAdmin;

                  if (isAdmin)
                  {
                     <li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                     <li role="separator" class="divider"></li>
                  }
               }
               @*<li class="dropdown-header">Nav header</li>*@
               <li><a href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a></li>
            </ul>
         </li>
      </ul>

      @*<ul class="nav navbar-nav navbar-right">
            <li>
               @Html.ActionLink(User.Identity.GetUserName(), "Index", "Profiel", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a></li>
         </ul>*@
      @*  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="@Url.Action("Index", "Profiel")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               @User.Identity.GetUserName()
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="@Url.Action("Index", "Profiel")">Profiel</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a>
            </div>
         </li>*@
   }
}
else
{

   @*<li class="nav-item active">
         <a class="nav-link" href="@Url.Action("Register", "Account")">Registreren<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
         <a class="nav-link" href="@Url.Action("Login", "Account")">Inloggen<span class="sr-only">(current)</span></a>
      </li>*@

   <ul class="nav navbar-nav navbar-right">
      <li><a href="@Url.Action("Register", "Account")">Registreren</a></li>
      <li><a href="@Url.Action("Login", "Account")">Inloggen</a></li>
   </ul>
   @*<ul class="nav navbar-nav navbar-right">
         <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
         <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
      </ul>*@
}
