@model Trakt.Models.ArchiefIndexModel

@{
   ViewBag.Title = "Archieven";
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-tabs">
   @for (var i = 0; i < Model.Archieven.Count; i++)
   {
      if (i == 0)
      {
         <li class="active"><a data-toggle="tab" href="#@Model.Archieven[i].ID">@Model.Archieven[i].Naam</a></li>
      }
      else
      {
         <li><a data-toggle="tab" href="#@Model.Archieven[i].ID">@Model.Archieven[i].Naam</a></li>
      }
   }
</ul>

<div class="tab-content">
   @for (var i = 0; i < Model.Archieven.Count; i++)
   {
      Model.Archieven[i].Films.Sort((f1, f2) => f1.Naam.CompareTo(f2.Naam));

      var klasse = "tab-pane fade";
      if (i == 0)
      {
         klasse += " in active";
      }

      <div id="@Model.Archieven[i].ID" class="@klasse">
         <h3>@Model.Archieven[i].Naam</h3>

         <div class="panel-group" id="@Model.Archieven[i].ID-panel">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#@Model.Archieven[i].ID-panel" href="#@Model.Archieven[i].ID-Films">
                        Films
                     </a>
                  </h4>
               </div>
               <div id="@Model.Archieven[i].ID-Films" class="panel-collapse collapse in">
                  <div class="panel-body">
                     @if (Model.Archieven[i].Films.Count == 0)
                     {
                        <p>Geen films gevonden</p>
                     }
                     else
                     {
                        <div class="col-md-6">
                           <input type="text" onchange="filterFilms(this.value, @Model.Archieven[i].ID)" style="width:100%" placeholder="filter" />
                           <div style="max-height:400px; overflow-y:scroll">
                              <table>
                                 @foreach (var film in Model.Archieven[i].Films)
                                 {
                                    <tr class="@Model.Archieven[i].ID-film" id="@film.ID">
                                       <td><a href="javascript:void(0);" onclick="getFilmData(@film.ID, @Model.Archieven[i].ID)">@Html.DisplayFor(model => film.Naam)</a></td>
                                    </tr>
                                 }
                              </table>
                           </div>
                        </div>
                        <div class="col-md-6" id="@Model.Archieven[i].ID-filmData" style="max-height:400px; overflow-y:scroll">

                        </div>
                     }
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#@Model.Archieven[i].ID-panel" href="#@Model.Archieven[i].ID-Series">
                        Series
                     </a>
                  </h4>
               </div>
               <div id="@Model.Archieven[i].ID-Series" class="panel-collapse collapse">
                  <div class="panel-body">
                     <div class="col-md-6">

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   }
</div>


<script>
   function filterFilms(filter, archief) {
      var films = document.getElementsByClassName(archief + "-film");

      for (var i = 0; i < films.length; i++) {
         var filmnaam = films[i].children[0].children[0].innerHTML.toLowerCase();

         if (!filmnaam.includes(filter.toLowerCase())) {
            films[i].style.display = "none";
         } else {
            films[i].style.display = "block";
         }
      }
   }

   function getFilmData(id, archief) {
      $.ajax("api/Films/GetFilm/" + id, {
         type: 'GET',
         dataType: 'json'
      }).done(function (data) {
         var res = document.getElementById(archief + "-filmData");
         var inner = "";

         inner += '<img class="col-xs-12 poster154" src = "http://image.tmdb.org/t/p/w92/' + data["poster_path"] + '" alt = "poster" />';
         inner += "<h4 class='col-xs-6'><a href='/Films/Details/" + id + "'>" + data["title"] + "</a></h4>";
         if (data["tagline"] != null) {
            inner += "<p class='col-xs-6'>" + data["tagline"] + "</p>";
         }
         inner += "<p class='col-xs-6'>" + data["release_date"] + "</p>";
         inner += "<p class='col-xs-6'>" + data["runtime"] + " Minuten</p>";
         inner += "<p class='col-xs-12'>" + data["overview"] + "</p>";

         res.innerHTML = inner;
      }).fail(function () {
         alert("fail");
      });
   }
</script>