@model Trakt.Models.ZoekenViewModel
@{
   ViewBag.Title = "Zoeken";
}

<div id="0" class="tab-pane fade in active">
   <h1>Resultaten</h1>
   <div class="panel-group" id="0-panel">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h2>
               <a data-toggle="collapse" data-parent="#0-panel" href="#0-personen" class="collapsed" aria-expanded="false">
                  Acteurs <span class="badge" style="float:right">#@Model.Acteurs.Count</span>
               </a>
            </h2>
         </div>
         <div id="0-personen" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
               <div class="testimonial-group">
                  <div class="row">
                     @foreach (var acteur in Model.Acteurs)
                     {
                        <div class="col-md-3 col-sm-6 col-xs-12 poster">
                           <a href="@Url.Action("DetailsAndere", "Acteurs", new { id = acteur.ID })" title="@acteur.Naam">
                              @{
                                 var source = "https://image.tmdb.org/t/p/w300/";
                                 if (acteur.ImagePath == null)
                                 {
                                    source = "/Content/Images/no_image.png";
                                 }
                                 else
                                 {
                                    source += acteur.ImagePath;
                                 }
                              }
                              <img src="@source" class="image" alt="@acteur.Naam" onerror="this.src='/Content/Images/no_image.png'" style="max-width:100%; height:400px" />
                              <div class="overlayPoster overlayZichtbaar">
                                 <div class="posterOverlayContent">@acteur.Naam</div>
                              </div>
                           </a>
                        </div>
                     }
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h2>
               <a data-toggle="collapse" data-parent="#0-panel" href="#0-films" class="" aria-expanded="true">
                  Films <span class="badge" style="float:right">#@Model.Films.Count</span>
               </a>
            </h2>
         </div>
         <div id="0-films" class="panel-collapse collapse" aria-expanded="true" style="">
            <div class="panel-body">
               <div class="testimonial-group">
                  <div class="row">
                     @foreach (var film in Model.Films.OrderByDescending(f => f.ReleaseDate))
                     {
                        <div class="col-md-3 col-sm-6 col-xs-12 poster">
                           @{
                              var url = Url.Action("DetailsAndere", "Films", new { id = film.ID });
                              if (film.Duur != -1)
                              {
                                 url = Url.Action("Details", "Films", new { id = film.ID });
                              }
                           }
                           <a href="@url" title="@film.Naam">
                              @{
                                 var source = "https://image.tmdb.org/t/p/w300/";
                                 if (film.PosterPath == null)
                                 {
                                    source = "/Content/Images/no_image.png";
                                 }
                                 else
                                 {
                                    source += film.PosterPath;
                                 }
                              }
                              <img src="@source" class="image" alt="@film.Naam" onerror="this.src='/Content/Images/no_image.png'" style="max-width:100%; height:400px" />
                              <div class="overlayPoster">
                                 <div class="posterOverlayContent">
                                    @if (source.StartsWith("/"))
                                    {
                                       @film.Naam<br />
                                    }
                                    @{
                                       DateTime result;
                                    }
                                    @if (DateTime.TryParse(film.ReleaseDate, out result))
                                    {
                                       <i class="glyphicon glyphicon-calendar"></i>
                                       <span>@result.ToShortDateString()</span>
                                       if (film.Duur == -1)
                                       {
                                          if (film.Tagline.Equals("No")) 
                                          {
                                             <button style="float: right;padding: 3px 8px;" class="btn btn-info" onclick="vraagFilmAan(@film.ID, this)">+</button>
                                          }
                                          else if (film.Tagline.Equals("Yes"))
                                          {
                                             <button style="float: right;padding: 3px 8px;" class="btn btn-success" disabled="disabled">&#10004;</button>
                                          }
                                       }
                                    }
                                 </div>
                              </div>
                           </a>
                        </div>
                     }
                     /**/
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h2>
               <a data-toggle="collapse" data-parent="#0-panel" href="#0-collecties" class="" aria-expanded="true">
                  Collecties <span class="badge" style="float:right">#@Model.Collecties.Count</span>
               </a>
            </h2>
         </div>
         <div id="0-collecties" class="panel-collapse collapse" aria-expanded="true" style="">
            <div class="panel-body">
               <div class="testimonial-group">
                  <div class="row">
                     @foreach (var collectie in Model.Collecties)
                     {
                        <div class="col-md-3 col-sm-6 col-xs-12 poster">
                           <a href="@Url.Action("Details", "Collecties", new { id = collectie.ID })" title="@collectie.Naam">
                              @{
                                 var source = "https://image.tmdb.org/t/p/w300/";
                                 if (collectie.PosterPath == null)
                                 {
                                    source = "/Content/Images/no_image.png";
                                 }
                                 else
                                 {
                                    source += collectie.PosterPath;
                                 }
                              }
                              <img src="@source" class="image" alt="@collectie" onerror="this.src='/Content/Images/no_image.png'" style="max-width:100%; height:400px" />
                              <div class="overlayPoster">
                                 <div class="posterOverlayContent">@collectie.Naam</div>
                              </div>
                           </a>
                        </div>
                     }
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h2>
               <a data-toggle="collapse" data-parent="#0-panel" href="#0-series" class="" aria-expanded="true">
                  Series <span class="badge" style="float:right">#@Model.Series.Count</span>
               </a>
            </h2>
         </div>
         <div id="0-series" class="panel-collapse collapse" aria-expanded="true" style="">
            <div class="panel-body">
               <div class="testimonial-group">
                  <div class="row">
                     @foreach (var serie in Model.Series.OrderByDescending(s => s.AirDate))
                     {
                        <div class="col-md-3 col-sm-6 col-xs-12 poster">
                           @{
                              var url = Url.Action("Details", "Series", new { id = serie.ID });
                              if (serie.Netwerk.Equals("-1"))
                              {
                                 url = Url.Action("DetailsAndere", "Series", new { id = serie.ID });
                              }
                           }
                           <a href="@url" title="@serie.Naam">
                              @{
                                 var source = "";
                                 if (serie.PosterPath == null)
                                 {
                                    source = "/Content/Images/no_image.png";
                                 }
                                 else
                                 {
                                    source += serie.PosterPath;
                                 }
                              }
                              <img src="@source" class="image" alt="@serie.Naam" onerror="this.src='/Content/Images/no_image.png'" style="max-width:100%; height:400px" />
                              <div class="overlayPoster">
                                 <div class="posterOverlayContent">@serie.Naam<br />@serie.AirDate</div>
                              </div>
                           </a>
                        </div>
                     }
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   function vraagFilmAan(film, elem) {
      $.ajax("/api/Films/GetFilmAanvraag/" + film, {
         type: 'GET',
         dataType: "json"
      }).done(function () {
         elem.outerHTML = '<button style="float: right;padding: 3px 8px;" class="btn btn-success" disabled="disabled">&#10004;</button>';
      });
   }
</script>
