@model Trakt.Models.AfleveringDetailsViewModel

@{
   ViewBag.Title = Model.Aflevering.Naam + " - Aflevering";
}
@{
   var url = Url.Action("Details", "Series", new { id = Model.Aflevering.Serie.ID });
   if (Model.Aflevering.SerieID == -1)
   {
      url = Url.Action("DetailsAndere", "Series", new { id = Model.Aflevering.Serie.ID });
   }
}
<h2><a href="@url">@Model.Aflevering.Serie.Naam</a> - @Model.Aflevering.Naam</h2>
<hr />
<div class="row">
   <div class="col-md-4" style="padding-right: 20px;border-right:solid 1px">
      @{
          var source = "";
          if (Model.Aflevering.ImagePath == null)
          {
             source = "/Content/Images/no_image.png";
          }
          else
          {
             source += Model.Aflevering.ImagePath;
          }
      }
      <img src="@source" class="image" alt="@Model.Aflevering.Serie.Naam" style="width:100%;margin-bottom:10px" />      @{
         source = "";
         if (Model.Aflevering.Serie.PosterPath == null)
         {
            source = "/Content/Images/no_image.png";
         }
         else
         {
            source = Model.Aflevering.Serie.PosterPath;
         }
      }
      <img src="@source" class="image" alt="@Model.Aflevering.Naam" style="width:100%;" />
   </div>
   <div class="col-md-8">
      <img style="width:100%; max-height:200px;" src="@Model.Aflevering.Serie.BannerPath" onerror="this.src='/Content/Images/no_image.png'" alt="Banner @Model.Aflevering.Serie.Naam" />
      <hr />
      <p><strong>Omschrijving</strong></p>
      <p>@Model.Aflevering.Omschrijving</p>
      <br />
      <p><strong>Seizoen @Model.Aflevering.Seizoen Aflevering @Model.Aflevering.Nummer</strong></p>
      <br />
      <p class="col-sm-4" style="text-align:center"><strong>@Model.Aflevering.AirDate</strong></p>
      @if (Model.Aflevering.AfleveringNr != 0)
      {
         <p class="col-sm-4" style="text-align:center"><strong>Afl. @Model.Aflevering.AfleveringNr</strong></p>
      }
   </div>
</div>

@if (Model.GastActeurs.Count > 0)
{
   <div class="testimonial-group">
      <h2>Gast Acteurs</h2>
      <div class="row">
         @foreach (var acteur in Model.GastActeurs)
         {
            <div class="col-md-3 col-sm-6 col-xs-12 poster">
               <a href="@Url.Action("DetailsAndere", "Acteurs", new { id = acteur.ActeurID })" title="@acteur.Acteur.Naam">
                  @{
                     source = "";
                     if (acteur.Acteur.ImagePath == null)
                     {
                        source = "/Content/Images/no_image.png";
                     }
                     else
                     {
                        source = acteur.Acteur.ImagePath;
                     }
                  }
                  <img src="@source" class="image" alt="@acteur.Acteur.Naam" onerror="this.src='/Content/Images/no_image.png'" style="max-width:100%; height:400px" />
                  <div class="overlayPoster">
                     <div class="posterOverlayContent">@acteur.Acteur.Naam<br />@acteur.Karakter</div>
                  </div>
               </a>
            </div>
         }
      </div>
   </div>
}
